@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    /* ... más fuentes ... */;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
